<br>

<c-row>
<c-col [xs]>
  <label cLabel for="AdmissionDate">Date d'admission à l'EPT</label>
  <input id="AdmissionDate" aria-label="AdmissionDate" cFormControl type="date"/>
</c-col>
<c-col [xs]>
  <label cLabel for="GraduationDate">Date d'obtention du diplôme</label>
  <input id="GraduationDate" aria-label="GraduationDate" cFormControl  type="date"/>
</c-col>
</c-row>
<br>
<c-row>
  <c-col [xs]>
    <label cLabel for="Prépa">Prépa</label>
    <input id="Prépa" aria-label="Prépa" cFormControl placeholder="Prépa" />
  </c-col>
  <c-col [md]="6">
    <label cLabel for="Option">Option</label>
    <select cSelect id="Option">
      <option>Choose...</option>
      <option value="Sisy">Sisy</option>
      <option value="Sysco">Sysco</option>
      <option value="Eges">Eges</option>
    </select>
  </c-col>
</c-row>
<br>
<c-row>
  <c-col [xs]>
    <label cLabel for="masterField">Master field (if you have a master degree)</label>
    <input id="masterField" cFormControl placeholder="" />
  </c-col>
  <c-col [xs]>
    <label cLabel for="masterUniversity">University</label>
    <input id="masterUniversity"  cFormControl placeholder="" />
  </c-col>
</c-row>
<br>
<c-row>
  <c-col [xs]>
    <label cLabel for="PhDField">PhD field (if you have a PhD)</label>
    <input id="PhDField" cFormControl placeholder="" />
  </c-col>
  <c-col [xs]>
    <label cLabel for="PhDUniversity">University</label>
    <input id="PhDUniversity"  cFormControl placeholder="" />
  </c-col>
</c-row>
<br>
<div cFormFloating>
  <p>Tell us all about your education experience (Engineering degree, Master degree and PhD):</p>
<textarea
  [ngStyle]="{ 'height.px': 150 }"
  cFormControl
  id="CommentEducation">
  </textarea>
</div>
<br>
<c-col [xs]="12">
  <button cButton type="submit">Update</button>
</c-col>
<br>

