<form  [formGroup]="EducationForm" (ngSubmit)="updateEducation()" cBgColor="white" >
  <div *ngIf="education1">
    <br>
    <c-row>
      <c-col [xs]>
        <label cLabel for="AdmissionDate">EPT Admission Date</label>
        <input id="AdmissionDate" aria-label="AdmissionDate" cFormControl type="date" formControlName="admissionDate"/>
      </c-col>
      <c-col [xs]>
        <label cLabel for="GraduationDate">Graduation Date</label>
        <input id="GraduationDate" aria-label="GraduationDate" cFormControl  type="date"  formControlName="graduationDate"/>
      </c-col>
    </c-row>
    <br>
    <c-row>
      <!--<c-col [xs]>
        <label cLabel for="Prépa">Prepa</label>
        <input id="Prépa" aria-label="Prépa" cFormControl  formControlName="prepa" />
      </c-col>-->
      <c-col [md]="6">
        <label cLabel for="Option">Option</label>
        <select formControlName="option" cSelect id="Option">
          <option>Choose</option>
          <option value="SISY">Sisy</option>
          <option value="SySco">Sysco</option>
          <option value="EGES">Eges</option>
        </select>
      </c-col>
    </c-row>
    <br>
    <c-row>
      <c-col [xs]>
        <label cLabel for="pfeField">Pfe Field:</label>
        <input id="pfeField" cFormControl  formControlName="pfeField" />
      </c-col>
      <c-col [xs]>
        <label cLabel for="pfeUniversity">University/Company:</label>
        <input id="pfeUniversity"  cFormControl  formControlName="pfeField" />
      </c-col>
    </c-row>
    <br>
    <c-row>
      <c-col [xs]>
        <label cLabel for="masterField">Master field (if you have a master degree)</label>
        <input id="masterField" cFormControl formControlName="masterField" />
      </c-col>
      <c-col [xs]>
        <label cLabel for="masterUniversity">University</label>
        <input id="masterUniversity"  cFormControl formControlName="masterUniversity" />
      </c-col>
    </c-row>
    <br>
    <c-row>
      <c-col [xs]>
        <label cLabel for="PhDField">PhD field (if you have a PhD)</label>
        <input id="PhDField" cFormControl formControlName="phdField" />
      </c-col>
      <c-col [xs]>
        <label cLabel for="PhDUniversity">University</label>
        <input id="PhDUniversity"  cFormControl  formControlName="phdUniversity" />
      </c-col>
    </c-row>
    <br>
    <div cFormFloating>
      <p>Tell us all about your education experience (Engineering degree, Master degree and PhD):</p>
      <textarea
        formControlName="comment"
        [ngStyle]="{ 'height.px': 150 }"
        cFormControl
        id="CommentEducation">
  </textarea>
    </div>
    <br>
  </div>
  <br>
  <c-col [xs]="12">
    <button type="submit" class="btn btn-lg btn-outline-primary">Update</button>
  </c-col>
  <br>
  </form>





