<!--sidebar-->

<c-sidebar
  #sidebar="cSidebar"
  style="background: #080855; width: 19.5rem; background-image: url('assets/kindpng_2664489.png')"
  class="d-print-none sidebar sidebar-fixed"
  id="sidebar"
  visible
  position="fixed"
>
  <c-sidebar-brand
    [brandFull]="{
      src: 'assets/logo_transparent11.png',
      width: 300,
      height: 135,
      alt: 'EptIn logo'
    }"

    routerLink="./"
  >
  </c-sidebar-brand>
  <perfect-scrollbar [config]="perfectScrollbarConfig">
    <!--  [perfectScrollbar]="perfectScrollbarConfig"-->
    <c-sidebar-nav style="cursor: pointer;font-size: larger; padding-right: 3rem; padding-top: 1rem">
      <button class="btn btn-2" cBgColor="transparent"
              style="border-color: transparent; color: lightgrey; text-align: left!important;" (click)="refresh()">
        <svg cIcon name="cilFilterX" size="xl" title="Numbered List Icon" style="padding-rigth:10rem"></svg>&nbsp;
        &nbsp;Remove Filters
      </button>
    </c-sidebar-nav>
    <c-sidebar-nav style="cursor: pointer;font-size: larger; padding-right: 3rem; padding-top: 2rem">
      <button cBgColor="transparent"
              style="border-color: transparent; color: lightgrey; text-align: left!important;">
        <svg cIcon name="cilSitemap" size="xl" title="Numbered List Icon" style="padding-rigth:10rem"></svg>&nbsp;
        &nbsp;Types:
      </button>
    </c-sidebar-nav>
    <c-sidebar-nav *ngFor="let item of navItems2"
                   style="cursor: pointer;font-size: medium; padding-right: 3rem; padding-top:0;">
      <button [ngClass]="{'btn-dark': item.isNavItemSelected}" class="btn btn-2" cBgColor="" id={{item}}
              style="border-color: transparent; color: lightgrey; text-align: left;!important;" (click)="toggle(item)">
        <svg cIcon name={{item.icon}} size="l" title="Numbered List Icon" style="padding-rigth:10rem"></svg>&nbsp;
        <svg cIcon name={{item.icon}} size="l" title="Numbered List Icon" style="padding-rigth:10rem"></svg>
        {{item.name}}
      </button>
    </c-sidebar-nav>
    <c-sidebar-nav style="cursor: pointer;font-size: larger; padding-right: 3rem; padding-top: 2rem">
      <button cBgColor="transparent"
              style="border-color: transparent; color: lightgrey; text-align: left!important;">
        <svg cIcon name="cilSitemap" size="xl" title="Numbered List Icon" style="padding-rigth:10rem"></svg>&nbsp;
        &nbsp;Branches:
      </button>
    </c-sidebar-nav>
    <c-sidebar-nav *ngFor="let item of navItems"
                   style="cursor: pointer;font-size: medium; padding-right: 1rem; padding-top: 0rem">
      <button  class="btn btn-2" cBgColor="transparent" id={{item.name}}
              style="border-color: transparent; color: lightgrey; text-align: left!important;" (click)="toggle(item)">
        <svg cIcon name={{item.icon}} size="xl" title="Numbered List Icon" style="padding-rigth:10rem"></svg>&nbsp;
        &nbsp;
        {{item.name}}
      </button>
    </c-sidebar-nav>
  </perfect-scrollbar>
  <c-sidebar-toggler
    *ngIf="!sidebar.narrow"
    toggle="unfoldable"
    cSidebarToggle="sidebar"
  ></c-sidebar-toggler>
</c-sidebar>
<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
  <!--app-header-->
  <app-default-header class="mb-4 d-print-none header header-sticky" position="sticky"
                      sidebarId="sidebar"></app-default-header>
  <!--app-body-->
  <div class="body flex-grow-1 px-3">
    <c-container breakpoint="lg" class="h-auto">
      <router-outlet></router-outlet>
    </c-container>
  </div>
  <!--app footer-->
  <app-default-footer></app-default-footer>
</div>
