<div class="bg-light min-vh-100 d-flex flex-row align-items-center" style="background-color: #080855 !important; background-image: url('assets/kindpng_2664489.png')">
  <c-container>
    <img src="assets/logo_transparent11.png" alt="sitelogo" style="width:23rem; position: relative; left: -19rem; top:-12.5rem; border-radius:8px; border-width: revert" >
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4"  style="border-top-left-radius:5% ;border-bottom-left-radius:5% ">
            <c-card-body>
              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
              <form cForm [formGroup]="loginForm" (ngSubmit)="login()">
                <h1>Login</h1>
                <p class="text-medium-emphasis">Sign In to your account</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input formControlName="email" autoComplete="email" cFormControl placeholder="Email" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    formControlName="password"
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    type="password"
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" type="submit">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      Login
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Forgot password?
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'width.%': 44}" class="p-4" style="border-top-right-radius:5% ;border-bottom-right-radius:5% ">
            <c-card-body class="text-center">
              <div>
                <h2>Sign up</h2>
                <p style="padding-top: 1rem">
                  Dont' have an account?<br>
                  Join us right now!
                </p>
                <button [active]="true" cButton class="mt-3" color="primary" (click)="gotoregister()">
                  Register Now!
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
