<!--<c-header class="mb-4 d-print-none" position="sticky">-->

<ng-container>
  <c-container [fluid]="true" style="padding-left: 3rem; padding-top: 0.5rem">
    <button
      toggle="visible"
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="ps-1"
      style="color: black !important;"
    >
      <svg cIcon
        name="cilMenu"
        size="xxl"
      ></svg>
    </button>
    <c-header-nav class="d-none d-lg-flex me-auto" style="padding-left: 0rem; font-size:2rem">
      <c-nav-item>
        <a cNavLink routerLink="/Offers" routerLinkActive="active" style="color: black" (click)="gotooffers()">
          Offers
        </a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/People" routerLinkActive="active" style="color: black" (click)="gotoprofilespage()">   People</a>
      </c-nav-item>
    </c-header-nav>
    <c-header-nav class="ms-3">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>

  </c-container>
  <c-header-divider></c-header-divider>
  <c-container [fluid]="true" style="padding-left:4rem; font-size:2rem">
    <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
  </c-container>
</ng-container>

<!--</c-header>-->
<ng-template #userDropdown>
  <c-container [fluid]="true" >
    <c-nav-item>
      <a cNavLink routerLink="/dashboard" routerLinkActive="active" style="color: black" (click)="gotomyprofile()">
        First/Last name
      </a>
    </c-nav-item>
  </c-container>
  <c-dropdown alignment="end" variant="nav-item">
    <button
      cButton
      color=""
      [caret]="false"
      cDropdownToggle
      class="py-0"
    >
      <c-avatar
        cTextColor="primary"
        shape="rounded-1"
        size="md"
        src="./assets/img/avatars/8.jpg"
        status="success"
      >
      </c-avatar>
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Settings</h6>
      </li>
      <li></li>
      <li>
        <a routerLink="./" cDropdownItem  (click)="gotomyprofile()">
          <svg cIcon class="me-2" name="cilUser"></svg>
          Profile
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem  (click)="gotomyprofile()">
          <svg cIcon class="me-2" name="cilSettings"></svg>
          Settings
        </a>
      </li>
      <li>
        <hr cDropdownDivider/>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilLockLocked"></svg>
          Log Out
        </a>
      </li>
      <li></li>
    </ul>
  </c-dropdown>
</ng-template>

