<style>
  body{margin-top:20px;}

  .profile_view {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
  }
  .profile_view:hover {
    -webkit-box-shadow: 0 14px 12px 0 rgba(0,0,0,0.17),0 20px 40px 0 rgba(0,0,0,0.3);
    box-shadow: 0 14px 12px 0 rgba(0,0,0,0.17),0 20px 40px 0 rgba(0,0,0,0.3);
  }
  .well.profile_view {
    padding: 10px 0 0;
  }

  .well.profile_view .divider {
    border-top: 1px solid #e5e5e5;
    padding-top: 5px;
    margin-top: 5px;
  }

  .well.profile_view .ratings {
    margin-bottom: 0;
  }

  .pagination.pagination-split li {
    display: inline-block;
    margin-right: 3px;
  }

  .pagination.pagination-split li a {
    border-radius: 4px;
    color: #768399;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
  }

  .well.profile_view {
    background: #fff;
  }

  .well.profile_view .bottom {
    margin-top: -20px;
    background: #F2F5F7;
    padding: 9px 0;
    border-top: 1px solid #E6E9ED;
  }

  .well.profile_view .left {
    margin-top: 20px;
  }

  .well.profile_view .left p {
    margin-bottom: 3px;
  }

  .well.profile_view .right {
    margin-top: 0px;
    padding: 10px;
  }

  .well.profile_view .img-circle {
    border: 1px solid #E6E9ED;
    padding: 2px;
  }

  .well.profile_view h2 {
    margin: 5px 0;
    font-size:14px;
    font-weight:bold;
  }

  .well.profile_view .ratings {
    text-align: left;
    font-size: 16px;
  }

  .well.profile_view .brief {
    margin: 0;
    font-weight: 300;
  }

  .profile_left {
    background: white;
  }
</style>
<link rel="stylesheet" href="https://daneden.github.io/animate.css/animate.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
            <div class="well profile_view" *ngFor="let profiles of profiles"><c-row>
                <c-col [xs]>
                <div class="left col-xs-7" style="padding-left: 2rem">
                  <p><strong>Full Name: </strong> {{profiles.firstName}} {{profiles.lastName}}</p>
                  <br>
                  <p><strong>Profession: </strong> Web Designer / UI. </p>
                  <br>
                    <p><i class="fa fa-phone"></i> <strong>Phone Number</strong>: {{profiles.phoneNumber}}</p>
                  <p><strong>Email: </strong>{{profiles.email}} </p>
                  <br>
                  <p><strong>Lives in </strong>{{profiles.city}}, {{profiles.country.toUpperCase()}}  </p>


                </div>
                </c-col><c-col [xs]>
                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" style="padding-left: 16rem">
              </c-col>
              </c-row><c-row>
                <div style="padding-bottom: 2rem; padding-left: 2rem">
                  <button class="btn btn-primary btn-xs" (click)="gotoProfile() ; toggle($event)" id={{profiles.id}}>
                    <i class="fa fa-user"></i> View Profile
                  </button>
                </div>
            </c-row>
            </div>






